{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}


    <div class="container">

        <div class="my-2 text-center">
            <h1>{{ bandInfos.name }}</h1>
        </div>

        <div>
            <div class="w-100 d-flex justify-content-center row g-4 m-auto py-3">
                {% for artist in bandInfos.artists %}
                    <div class="col-xl-4  col-lg-6 col-sm-12">
                        <div class="card h-100 border">
                            <div class="card-body">
                                <div>
                                    <h2 class="h5">{{ artist.firstName }} {{ artist.lastName }}</h2>
                                    <div>Born in {{ artist.birthday | date("d-m-Y") }}.</div>
                                </div>
                            </div>
                            <div class="card-footer">

                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}