{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="text-center">
            <h1>Create new Band</h1>
        </div>

        {% include 'band/_form.html.twig' %}
    </div>


{% endblock %}
