{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}
    <div class="container my-2 m-auto px-5">
        <div class="text-center py-2">
            <h1>Create new concert</h1>
        </div>
        <div class="m-5">
            {% include 'concert/_form.html.twig' %}
        </div>
    </div>
{% endblock %}


