<div class="container">
    <div>
        {% block footerContent %}
            <div></div>
        {% endblock %}
    </div>
    <div class="d-flex justify-content-between py-4 my-4 border-top border-3 border-light">
        <p>© 2022 ConcertProject, Inc. All rights reserved.</p>
    </div>
</div>
