<div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 ConcertProject, Inc</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a href="{{ path('homepage') }}" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('concert_archives') }}" class="nav-link px-2 text-muted">Archives</a>
            </li>
            {# <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> #}
        </ul>
    </div>
</div>